
solid/~$stelo girasole.SLDPRT
solid/~$scatola elettronica.SLDPRT
solid/~$girasole.SLDPRT
solid/~$Assieme.SLDASM
solid/~$aggancio servo.SLDPRT
solid/~$aggancio girasole.SLDPRT
3d file sorgenti/~$photoresistor.SLDPRT
